


html {min-height: 100%;}



body {
  margin: 0px;
  min-height:100%;
  background: #111;

  font-family: 'Rubik', sans-serif;
  

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.App{

  min-height:100vh;
  background-image:url('./assets/overcast.jpg') ;
    
  background-position: center;
  color:#fff;
  position:relative;
  background-repeat: no-repeat;
  background-size:cover;


}

.parent{
  display: flex;

  justify-content: space-between;
  height: 100%;
  padding-left:20px;

 
}

.weather-container{
  display:flex;
  width:60%;
  flex-direction:column;
  justify-content: space-between;

  padding-top:60px;


}

.weather-container h2 {
  
  display:flex;
  justify-content: flex-start;




}

.weather-container .data-container{

  display:flex;
  justify-content:space-evenly;


 
}

.weather-container .data-container div{

  width:calc((100% - 4*75px) / 3);


}
.weather-container .data-container .temperature{

  display: flex;
  justify-content: center;
  align-items:center;
}
.weather-container .data-container .temperature h3{
  
  font-size: 5em;
  font-weight: 400;
  display: flex;



}


.weather-container .data-container .country {

  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  padding-top:30px;
  padding-bottom:30px;
  
}

.weather-container .data-container .country h3{

  font-size: 3em;
  font-weight: 400;

  margin-left:-30px;

  margin-top: 20px;
  margin-bottom:3px
 
  
}

.weather-container .data-container .country h5{

  margin-top:3px

}


.weather-container .data-container .weather-icon{
 
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: flex-start;

  font-weight: 500;
}
.weather-container .data-container .weather-icon p{

    margin-bottom:-15px;
    margin-left: 5px;
    
}

.weather-container .data-container .weather-icon img{
  

  width:60px;
  

}

.search-details-container{
 
  backdrop-filter: blur(20px);
  width:40%;
  height: 100vh;
  padding-left:50px
 

}



.search-details-container .search-area{

  display: grid;
  grid-template-columns: 60% 15%;
  grid-template-rows:80px;
  justify-content: space-between;
  

}

.search-details-container input{

  border:2px solid black;
  background-color: transparent;
  border:2px solid transparent;
  border-bottom-color:white;
  font-size:20px;
  caret-color:#fff;
  color:#fff;


}
.search-details-container input:focus{
  outline: none;

}


.search-details-container .search-tab{
  background-color:orange;
  display:flex;
  justify-content: center;
  align-items:center;
}

.search-details-container .search-tab i{
  color:white;
}

.search-details-container .search-tab:hover{

  background-color:rgba(255, 166, 0, 0.813);
}

.search-details-container .countries{
  display: flex;
  justify-content:flex-start;
  align-items:center;

}
.search-details-container .countries {
  display: flex;
  justify-content: flex-start;
}
.search-details-container .countries ul {
  margin-top:40px;
  margin-left:-16px;
  
  display:flex;
  flex-direction:column;
   align-items:flex-start;
  justify-content: space-between;
  gap:30px;
}
.search-details-container .countries ul li{
  list-style-type: none;



}


.search-details-container .details h4{

 
  display: flex;
  justify-content: flex-start;

}



.search-details-container  .parent-container{
  margin-top:30px;
  display:flex;
  flex-direction:column;
  justify-content: space-between;
  gap:30px
}

.search-details-container .details .container{


  display:flex;
  justify-content: space-between;
  
}

.search-details-container .parent-container .container{
  margin-left:0px;
}



@media screen and (min-width:1240px){

    
.weather-container h2 {
  
  display:flex;
  justify-content: flex-start;
  margin-left:90px




}
  
}

@media screen and (max-width:1240px) {
   
  .parent{
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    height: 100vh;
    padding-left:0;
  
  }
  .weather-container{
    width:100%;
   
    display:grid;
    grid-template-columns:1fr;
    grid-template-rows: 10% 90%;
    justify-content:center;
    align-items:center;
  }
  .search-details-container{
    width:100%;
    
  }
  .weather-container h2{
    display: flex;
    justify-content:center;
    
  }

  

  .weather-container .data-container div{
    width:calc(50% / 3)


  }


}

@media screen and (max-height:300px){
 
  .App{
    min-height:40em;
  }

}



@media screen and (min-width:650px)and (max-width:912px){
  .weather-container .data-container{
    display:flex;
    justify-content:space-evenly
  }
  .weather-container .data-container .temperature h3{
    font-size:4em;

  }
  .weather-container .data-container .country h3{
    font-size:2em;
    font-weight:bold;

  }
  
}


@media screen and (min-width:250px)and (max-width:650px){

  .weather-container .data-container {
    display:flex;
    justify-content:space-evenly;
  }
  .weather-container .data-container .temperature h3{
    font-size:2em;

  }
  .weather-container .data-container .country h3{
    font-size:1em;
    font-weight:bold;

  }
  
}

